@font-face {
    font-family: 'Overmch';
    src: url('/static/fonts/overmch.woff2') format('woff2'),
    url('/static/fonts/overmch.woff') format('woff');
}

.cooplify {
    font-family: 'Overmch', sans-serif;
    letter-spacing: 0.05em;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 200% auto;
    background-image: linear-gradient(45deg, #FF6961, #FFB347, #FDFD96, #77DD77, #42A5F5, #5C6BC0, #AB47BC, #EC407A, #26A69A, #9CCC65, #D4E157, #FFEE58, #FFCA28, #FF7043, #8D6E63, #BDBDBD);
    opacity: 0.05;
    filter: blur(50%);
    z-index: -1;
}
