{% extends "base.html" %}

{% block content %}

    <div class="container py-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="position-relative">
            <img src="/static/images/coople-render.png" class="img-fluid position-absolute"
                 style="width: 100%; top: -70%; left: 0;" alt="Coople Logo">
            <div class="jumbotron text-center p-5 bg-light rounded-3">
                <h1 class="display-5 fw-bold" id="slogan"></h1>
                <p class="col-md-8 fs-4 mx-auto">Guess the hidden word or phrase in limited tries. Use the hints and
                    badges at the top to help you guess. Correct letters and characters turn green, correct but
                    misplaced ones turn orange, and wrong ones turn gray. Are you ready to Coople?</p>
                <a href="{{ url_for('daily') }}" class="btn btn-lg btn-coople rounded-pill my-1" type="button">Daily Challenge</a>
                <a href="{{ url_for('game') }}" class="btn btn-lg btn-coople rounded-pill my-1" type="button">Make Your Own</a>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            const slogans = [
                "It's like wordle, but not!",
                "Unleash the Power of Words!",
                "Let's get coopy with it.",
                "Discover the power of Coople!",
                "Dare to Coople!",
                "Shaking up the alphabet!",
                "Send your friends random words!",
                "Throw your dictionary at the screen!",
                "Are you a Coopler or a Wordler?",
                "Don't mumble, Coople!",
                "Got words? Get Coople!",
                "Get lost in the Coople!",
                "Coople to the top!",
                "None of this is real! Wake up!",
                "We all wanted another Wordle clone!"
            ];
            const slogan = slogans[Math.floor(Math.random() * slogans.length)];
            document.getElementById("slogan").innerText = slogan;
        }
    </script>

{% endblock %}
