{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6">
                <h1 class="display-4 text-center cooplify mt-4" id="name"></h1>
                <p class="text-center bi bi-quote" id="hint"></p>
                <div class="container text-center" id="badges">

                </div>

                <table class="table letter-table text-center align-bottom" id="guessTable">
                    <thead>
                    <tr></tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="input-group">
                    <input id="current-guess" type="text" class="form-control" placeholder="Enter a guess" required>
                    <div class="input-group-append">
                        <button id="submit" class="btn btn-block btn-primary">Submit</button>
                    </div>
                </div>

                <p class="text-center">You have <span id="remaining">?</span> guesses remaining.</p>

            </div>
        </div>
    </div>

    <!-- Game logic -->
    <script>
        // Construct base URL for backend requests
        const baseUrl = `${window.location.protocol}//${window.location.host}`;

        // Extract encoded game parameters from the URL
        const encodedParams = new URLSearchParams(window.location.search).get('data');

        // Helper function to replace a character at a certain index in a string
        String.prototype.replaceAt = function (index, replacement) {
            return this.substring(0, index) + replacement + this.substring(index + replacement.length);
        };

        // Fetch decoded game parameters from the backend
        fetch(`${baseUrl}/decode`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({encodedParams})
        })
            .then(response => response.json())
            .then(data => {
                // Initialize game parameters with values received from the server
                const {name, word: originalWord, hint, suffix, guesses: maxGuesses} = data;
                const word = originalWord.toLowerCase();
                let remaining = maxGuesses;

                // Cache DOM elements for further use
                const currentGuessEl = document.getElementById('current-guess');
                const guessTableBodyEl = document.getElementById('guessTable').getElementsByTagName('tbody')[0];
                const nameEl = document.getElementById('name');
                const hintEl = document.getElementById('hint');
                const remainingEl = document.getElementById('remaining');
                const submitBtnEl = document.getElementById('submit');

                // Create a blank line, to be used for initial guess display
                const blank = "<span class=\"letter guess-out\">&nbsp;</span>".repeat(word.length);

                // Set the maximum length of the guess input
                currentGuessEl.maxLength = word.length;

                // Prefill the table with blank rows
                for (let i = 0; i < remaining; i++) {
                    const row = guessTableBodyEl.insertRow();
                    row.insertCell().innerHTML = blank; // fill with blank initially
                }

                // Update name and hint elements
                nameEl.innerHTML = colorize(suffix === 0 ? name : `${name}'s Coople`);
                hintEl.textContent = hint ?? "No hint provided.";

                // Update remaining guesses display
                remainingEl.textContent = remaining;

                // Define action on "Submit" button click
                submitBtnEl.addEventListener('click', function () {
                    // Get the guess from the input field and clear the input
                    const guess = currentGuessEl.value.toLowerCase();
                    currentGuessEl.value = '';

                    // Validate the input
                    if (!guess || guess.length !== word.length) {
                        alert(`Invalid guess. Please enter a ${word.length}-letter word.`);
                        return;
                    }

                    // Decrease remaining guesses count and update the display
                    remaining--;
                    remainingEl.textContent = remaining;

                    // Initialize variables for result string creation
                    let result = '';
                    let remainingWord = word;
                    const correctIndices = new Array(word.length).fill(false);

                    // Identify correct guesses and update remaining word
                    for (let i = 0; i < word.length; i++) {
                        if (remainingWord[i] === guess[i]) {
                            correctIndices[i] = true;
                            remainingWord = remainingWord.replaceAt(i, '?');
                        }
                    }

                    // Build the result string based on the guesses
                    for (let i = 0; i < word.length; i++) {
                        const spanClass = correctIndices[i] ? "guess-on" : (remainingWord.includes(guess[i]) ? "guess-in" : "guess-out");
                        result += `<span class="letter ${spanClass}">${guess[i]}</span>`;
                    }

                    // Replace spaces with non-breaking spaces
                    result = result.replaceAll('> <', '>&nbsp;<');

                    // Fill in the result in the first blank row
                    guessTableBodyEl.children[maxGuesses - remaining - 1].children[0].innerHTML = result;

                    // Check for game over and redirect to results if necessary
                    if (guess === word || remaining === 0) {
                        submitBtnEl.disabled = true;
                        currentGuessEl.disabled = true;

                        const resultsUrl = new URL(`${baseUrl}/results`);
                        resultsUrl.searchParams.append('win', guess === word);
                        resultsUrl.searchParams.append('word', originalWord);
                        resultsUrl.searchParams.append('guesses', maxGuesses - remaining);

                        window.location.href = resultsUrl.href;
                    }
                });

                addAllBadges(word);
            });
    </script>

{% endblock %}
