{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-sm-8 col-md-6">
                <h1 class="display-4 text-center cooplify mt-4" id="name"></h1>

                <p class="text-center bi bi-quote" id="hint"></p>


                <div class="container text-center" id="badges"></div>

                <hr/>

                <table class="table letter-table text-center align-bottom" id="guessTable">
                    <thead>
                    <tr></tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <p class="text-center">You have <span id="remaining">?</span> guesses remaining.</p>

                <div id="current-guess-input" class="text-center">
                </div>

                <button id="submit" class="btn btn-primary btn-coople rounded-pill my-2 mx-2">Submit Guess</button>
                <button id="surrender" class="btn btn-danger btn-coople rounded-pill my-2 mx-2">Surrender</button>

            </div>
        </div>
    </div>

    <!-- Game logic -->
    <script>
        // Construct base URL for backend requests
        const baseUrl = `${window.location.protocol}//${window.location.host}`;

        // Extract encoded game parameters from the URL
        const encodedParams = new URLSearchParams(window.location.search).get('data');

        // Helper function to replace a character at a certain index in a string
        String.prototype.replaceAt = function (index, replacement) {
            return this.substring(0, index) + replacement + this.substring(index + replacement.length);
        };

        // Fetch decoded game parameters from the backend
        fetch(`${baseUrl}/decode`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({encodedParams})
        })
            .then(response => response.json())
            .then(data => {
                // Initialize game parameters with values received from the server
                const {name, word: originalWord, hint, suffix, guesses: maxGuesses} = data;
                const word = originalWord.toLowerCase();
                let remaining = maxGuesses;

                // Cache DOM elements for further use
                const guessTableBodyEl = document.getElementById('guessTable').getElementsByTagName('tbody')[0];
                const nameEl = document.getElementById('name');
                const hintEl = document.getElementById('hint');
                const remainingEl = document.getElementById('remaining');
                const submitBtnEl = document.getElementById('submit');

                // Generate input fields
                for (let i = 0; i < word.length; i++) {
                    let inputField = document.createElement('input');
                    inputField.setAttribute('type', 'text');
                    inputField.setAttribute('maxlength', '1');
                    inputField.setAttribute('class', 'letter-input letter guess-out');
                    document.querySelector('#current-guess-input').appendChild(inputField);
                }

                let inputs = document.querySelectorAll('.letter-input');
                let submitButton = document.querySelector('#submit');

                inputs.forEach((input, index) => {
                    // Move focus to the next input field after entering a character.
                    input.addEventListener('input', () => {
                        if (index < inputs.length - 1 && input.value) {
                            inputs[index + 1].focus();
                        }
                    });

                    // Move focus to the previous input field on backspace.
                    input.addEventListener('keydown', (event) => {
                        if (event.key === 'Backspace' && !input.value && index > 0) {
                            inputs[index - 1].focus();
                        }
                    });

                    // Submit form on enter
                    input.addEventListener('keydown', (event) => {
                        if (event.key === 'Enter') {
                            event.preventDefault();
                            submitButton.click();
                        }
                    });
                });

                // Update name and hint elements
                nameEl.innerHTML = colorize(suffix === 0 ? name : `${name}'s Coople`);
                hintEl.textContent = hint ?? "No hint provided.";

                // Update remaining guesses display
                remainingEl.textContent = remaining;

                // Define action on "Submit" button click
                submitBtnEl.addEventListener('click', function () {

                    // Get the guess from the input field and clear the input
                    const guess = getInput().toLowerCase();
                    clearInput();

                    // Validate the input
                    if (!guess || guess.length !== word.length) {
                        alert(`Invalid guess. Please enter a ${word.length}-letter word.`);
                        return;
                    }

                    // Decrease remaining guesses count and update the display
                    remaining--;
                    remainingEl.textContent = remaining;

                    // Initialize variables for result string creation
                    let result = '';
                    let remainingWord = word;
                    const correctIndices = new Array(word.length).fill(false);

                    // Identify correct guesses and update remaining word
                    for (let i = 0; i < word.length; i++) {
                        if (remainingWord[i] === guess[i]) {
                            correctIndices[i] = true;
                            remainingWord = remainingWord.replaceAt(i, '?');
                        }
                    }

                    // Build the result string based on the guesses
                    for (let i = 0; i < word.length; i++) {
                        const spanClass = correctIndices[i] ? "guess-on" : (remainingWord.includes(guess[i]) ? "guess-in" : "guess-out");
                        result += `<span class="letter ${spanClass}">${guess[i]}</span>`;
                    }

                    // Replace spaces with non-breaking spaces
                    result = result.replaceAll('> <', '>&nbsp;<');

                    // Create a new table row element
                    let newRow = document.createElement('tr');

                    // Create a new table cell element and fill it with the result
                    let newCell = document.createElement('td');
                    newCell.innerHTML = result;

                    // Append the new cell to the new row
                    newRow.appendChild(newCell);

                    // Append the new row to the end of the table body
                    guessTableBodyEl.appendChild(newRow);

                    // Check for game over and redirect to results if necessary
                    if (guess === word || remaining === 0) {
                        endGame(guess === word);
                    }
                });

                const surrenderBtnEl = document.getElementById('surrender');
                surrenderBtnEl.addEventListener('click', function () {
                    if (confirm("Are you sure you want to surrender?")) {
                        endGame(false);
                    }
                });

                function endGame(didWin = false) {
                    // Disable all buttons and input fields
                    submitBtnEl.disabled = true;
                    surrenderBtnEl.disabled = true;
                    enableInput(false);

                    // Redirect to the results page
                    const resultsUrl = new URL(`${baseUrl}/results`);
                    resultsUrl.searchParams.append('win', didWin);
                    resultsUrl.searchParams.append('word', originalWord);
                    resultsUrl.searchParams.append('guesses', maxGuesses - remaining);

                    window.location.href = resultsUrl.href;
                }

                addAllBadges(word);
            });

        function getInput() {
            let word = '';
            let inputs = document.querySelectorAll('.letter-input');

            inputs.forEach(input => {
                word += input.value;
            });

            return word;
        }

        function clearInput() {
            let inputs = document.querySelectorAll('.letter-input');

            inputs.forEach(input => {
                input.value = '';
            });
        }

        function enableInput(shouldDisable = true) {
            let inputs = document.querySelectorAll('.letter-input');

            inputs.forEach(input => {
                input.disabled = shouldDisable;
            });
        }

    </script>

{% endblock %}
